# testing
/test-results/
/coverage/reports/
.coverage

# production
/build
/.mypy_cache
/version.txt

# misc
.env
.DS_Store
*.pq
*.png
*.sql
*.pkl
*.zip
*.json
*.out.txt
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
.cmd_history
!init.sql
buildtmp

!deploy/*.json
!deploy/graphs/*.json
deploy/default.env
/userdata/

**/.ipynb_checkpoints
__pycache__
/docker-compose.yml
/docker-compose.dev.yml
/docker-compose.wipe.yml
/queries.txt

/models/*
!/models/.empty

/.venv/
