BLOGS_DB_NAME=
BLOGS_DB_DIALECT='postgresql'
BLOGS_DB_HOST=
BLOGS_DB_PORT=5432
BLOGS_DB_USERNAME=
BLOGS_DB_PASSWORD=
BLOGS_DB_SCHEMA='nlpapi'
LOGIN_DB_NAME=
LOGIN_DB_DIALECT='postgresql'
LOGIN_DB_HOST=
LOGIN_DB_PORT=5432
LOGIN_DB_USERNAME=
LOGIN_DB_PASSWORD=
LOGIN_DB_SCHEMA='nlpapi'
LOGIN_DB_SCHEMA_PLATFORM='public'
OPENCAGE_API=
APP_SECRET=
