backoff
evaluate
fastcluster
flake8
flake8-commas
flake8-isort
huggingface-hub
ipykernel
ipywidgets
jupyter
jupyter-client
jupyter-console
jupyter-server
jupyterlab-widgets
keras
keybert
langdetect
matplotlib
matplotlib-inline
mypy
mypy-extensions
numpy
opencage
pandas
pandas-stubs
Pillow
pre-commit
psycopg2-binary
pyarrow
pycodestyle
PyJWT
pylint
pytest
pytest-cov
python-dateutil
pytz
qdrant-client
qtconsole
quick-server
requests
scattermind
scikit-learn
scipy
seaborn
sentence-transformers
spacy
SQLAlchemy
SQLAlchemy[mypy]
tokenizers
tqdm
transformers
types-Pillow
types-psycopg2
types-python-dateutil
types-pytz
types-requests
types-urllib3
widgetsnbextension
